footer p {
    font-size: 1rem;
}

footer p i {
    margin-top: 0.25rem;
}

footer a,footer i
{
    color: rgba(255, 255, 255, 0.7);
}

footer a:hover
{
    color: white;
}

footer{
    background-color: #232931;
    color: rgba(255, 255, 255, 0.7) ;
    padding-top: 1rem;
}
