#team:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  
  
  
}

#team{
    padding: 4rem 0 3rem;
    position: relative; 
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#team-heading {
  color: #ffffff;
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

#team-heading span {
  color: red;
}

.team-info {
  position: relative;
  height: 16rem;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  transition: box-shadow 0.3s ease-out;
  margin-bottom: 3rem;
  margin-inline: 1.5rem;
  border-radius: 100%;
}

.team-info:hover {
  box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
}

.team-info .team-member-img {
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-out;
  z-index: 2;
}

.team-info .team-member-img:hover {
	cursor: pointer;
}


.team-member-img > img {
  height: 100%;
  width: 100%;
  transition: opacity 0.3s ease-out;
}

.team-info:hover > .team-member-img > img {
  opacity: 0.5;
}

.team-social-media {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  margin: 0;
  padding: 0;
}

.team-social-media > li {
  list-style: none;
}

.team-social-media > li > a {
  display: block;
  height: 50px;
  width: 50px;
  background-color: #FFF;
  text-align: center;
  color: #262626;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(200px);
  transition: all 0.3s ease-out;
}

.team-info:hover > .team-social-media > li > a {
  transform: translateY(0);
  opacity: 1;
}

.team-social-media > li > a > .fa {
  font-size: 20px;
  line-height: 50px;
  transition: transform 0.3s ease-out;
}

.team-social-media > li > a:hover > .fa {
  transform: rotateY(360deg);
}

.team-info:hover .team-social-media li:nth-child(1) a {
	transition-delay: 0s;
}

.team-info:hover .team-social-media li:nth-child(2) a {
	transition-delay: 0.1s;
}

.team-info:hover .team-social-media li:nth-child(3) a {
	transition-delay: 0.2s;
}


.team-member-info {
  position: absolute;
	bottom: 0;
	left: 0;
	background-color: #111;
	height: 70px;
	width: 100%;
	box-sizing: border-box;
  text-align: center;
  transition-property: opacity;
  transition-duration: 0.3s;
  opacity: 0;
  transition-timing-function: ease-in-out;
  z-index: 2;
}

.team-member-info > h2 {
  color: whitesmoke;
  margin: 0;
}

.team-member-info > span {
  color: whitesmoke;

}

.team-info:hover .team-member-info {
  opacity: 1;
}

div[id^='0'] h2 {
  font-size: 1.1rem;
}

div[id^='0'] span{
  font-size:.75rem;
}

div[id^='1'] h2 {
  font-size: 1.1rem;
}

div[id^='1'] span {
  font-size: .75rem;
}


div[id^='2'] h2 {
  font-size: 1.1rem;
}

div[id^='2'] span {
  font-size: .75rem;
}

div[id^='3'] h2 {
  font-size: 1.1rem;
}

div[id^='3'] span{
  font-size:0.75rem;
}


div[id^='4'] h2 {
  font-size: 1.1rem;
}

div[id^='4'] span{
  font-size:.75rem;
}

div[id^='5'] h2 {
  font-size: 1.1rem;
}

div[id^='5'] span{
  font-size:0.75rem;
}

div[id^='6'] h2 {
  font-size: 1.1rem;
}

div[id^='6'] span{
  font-size:.75rem;
}

div[id^='7'] h2 {
  font-size: 1.1rem;
}

div[id^='7'] span{
  font-size:.75rem;
}

div[id^='8'] h2 {
  font-size: 1.1rem;
}