@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
 @import url("https://fonts.googleapis.com/css?family=Varela+Round");
 @font-face {
	 font-family: 'Telefon Black';
	 src: url('https://raw.githubusercontent.com/arnabmunshi/fontface/master/TelefonBlack/Telefon-Black.woff2') format('woff2'), url('https://raw.githubusercontent.com/arnabmunshi/fontface/master/TelefonBlack/Telefon-Black.woff') format('woff');
	 font-weight: 900;
	 font-style: normal;
}
 .page-event {
	 background-color: #212121;
	 padding-bottom: 40px;
	 font-family: "Varela Round", sans-serif;
}
 .page-event .cover {
	 background-color: #36353a;
	 height: 360px;
	 background-image: url('https://goo.gl/NA3iQP');
	 background-position: center center;
	 background-size: cover;
}
 .page-event .cover .heading {
	 font-family: 'Telefon Black';
	 font-size: 243px;
	 letter-spacing: 0.08em;
	 text-transform: uppercase;
	 text-align: center;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
	 color: #ccc;
	 transition: font-size 0.3s;

}
.preeventhead{
	font-size: 180px !important;
	padding-top: 80px;
}
 .page-event .cover .heading::first-letter {
	 color: #db2d8e;
}
 .page-event .upcoming-sec {
	 padding: 5vh 0;
	 border-bottom: 1px solid #ccc;
}
 .page-event .upcoming-sec .heading {
	 font-size: 30px;
	 color: #fff;
}
 .page-event .upcoming-event-list {
	 color: #ccc;
}
.register{
	padding: 5px;
	border: none;
	border-radius: 8px;
	background-color: #3cbfaf;
	color: #fff;
  }
 .page-event .upcoming-event-list .event-block {
	 padding: 5vh 0;
	 border-bottom: 1px solid #ccc;
}
 .page-event .upcoming-event-list .event-block .sec-1, .page-event .upcoming-event-list .event-block .sec-2 {
	 padding-bottom: 3vh;
}
 .page-event .upcoming-event-list .event-block .sec-1 table .month {
	 text-transform: uppercase;
	 color: #db2d8e;
	 font-size: 30px;
}
 .page-event .upcoming-event-list .event-block .sec-1 table .month-date-devider {
	 width: 5vh;
	 margin: 1vh 0;
	 background-color: #3cbfaf;
	 height: 5px;
}
 .page-event .upcoming-event-list .event-block .sec-1 table .date {
	 font-size: 60px;
	 font-weight: bolder;
	 line-height: normal;
}
 .page-event .upcoming-event-list .event-block .sec-1 table .title {
	 padding-left: 20px;
	 vertical-align: top;
	 font-size: 30px;
}
 .page-event .upcoming-event-list .event-block .sec-2 img {
	 width: 100%;
}
 .page-event .upcoming-event-list .event-block .sec-3 .title {
	 font-size: 30px;
	 padding-bottom: 2vh;
}
 .page-event .upcoming-event-list .event-block .sec-3 .venue table td {
	 vertical-align: top;
}
 .page-event .upcoming-event-list .event-block .sec-3 .venue table td i {
	 color: #db2d8e;
	 padding-left: 3px;
	 padding-right: 10px;
}
 .page-event .upcoming-event-list .event-block .sec-3 .venue table td .dim-color a {
	 color: rgba(204, 204, 204, 0.30);
}
 .page-event .upcoming-event-list .event-block .sec-3 .time {
	 padding-bottom: 3vh;
}
 .page-event .upcoming-event-list .event-block .sec-3 .time table td {
	 vertical-align: top;
}
 .page-event .upcoming-event-list .event-block .sec-3 .time table td i {
	 color: #db2d8e;
	 padding-right: 10px;
}
 .page-event .upcoming-event-list .event-block .sec-3 .time table td .dim-color {
	 color: rgba(204, 204, 204, 0.30);
}
 .page-event .upcoming-event-list .event-block .sec-3 .sort-story {
	 -webkit-box-orient: vertical;
	 display: -webkit-box;
	 overflow: hidden;
}
 .page-event .upcoming-event-list .event-block .sec-3 .group-of-btn {
	 padding-top: 3vh;
}
 .page-event .upcoming-event-list .event-block .sec-3 .group-of-btn .book-ticket {
	 background-color: #3cbfaf;
	 color: #fff;
	 margin-bottom: 10px;
}
 .page-event .page-heading {
	 text-transform: uppercase;
	 color: #fff;
	 padding-bottom: 17px;
	 word-break: break-all;
	 padding: 10px;
}

.last{
	border-bottom: none !important;
}


 .page-event .page-heading::first-letter {
	 color: #db2d8e;
}
 @media (min-width: 992px) {
	 .upcoming-event-list .event-block .sec-1 table .title {
		 display: none;
	}
}
 @media (max-width: 991px) {
	 .page-event .cover .heading {
		 font-size: 50px !important;
		 padding-top: 2vh;
	}
	
	 .upcoming-event-list .event-block .sec-3 .title {
		 display: none;
	}
	.register{
		padding: 5px;
		border: none;
		border-radius: 8px;
		background-color: #3cbfaf;
		color: #fff;
	  }

}
 @media (max-width: 767px) {
	 .page-event .cover .heading {
		 font-size: 80px;
		 padding-top: 11vh;
	}
	.register{
		padding: 5px;
		border: none;
		border-radius: 8px;
		background-color: #3cbfaf;
	
		color: #fff;
	  }
}
 @media (max-width: 575px) {
	 .page-event .cover {
		 height: 180px;
	}

	 .page-event .cover .heading {
		 font-size: 70px;
	}
	 .page-event .upcoming-event-list .event-block .sec-1 table .month {
		 font-size: 14px;
	}
	 .page-event .upcoming-event-list .event-block .sec-1 table .date {
		 font-size: 36px;
	}
	 .page-event .upcoming-event-list .event-block .sec-1 table .title {
		 padding-left: 20px;
		 font-size: 20px;
		 vertical-align: top;
	}
	.register{
		padding: 5px;
		border: none;
		border-radius: 8px;
		background-color: #3cbfaf;
		color: #fff;
	  }
}
 